
<style>

    #id_needs_from{
        min-width:100%;
    }
    html body.app-blueprint.model-blueprintcreator.change-form div#container div#content.colM div#content-main form#blueprintcreator_form div fieldset.module.aligned div.form-row.field-needs div div.related-widget-wrapper{
        width:100%;
    }
    html body.app-blueprint.model-blueprintcreator.change-form div#container div#content.colM div#content-main form#blueprintcreator_form div fieldset.module.aligned div.form-row.field-needs div div.related-widget-wrapper div.selector{
        width:100% !important;
    }
    html body.app-blueprint.model-blueprintcreator.change-form div#container div#content.colM div#content-main form#blueprintcreator_form div fieldset.module.aligned div.form-row.field-needs div div.related-widget-wrapper div.selector div.selector-chosen select#id_needs_to.filtered, #id_needs_to{
        width:100%;
    }
    html body.app-blueprint.model-blueprintcreator.change-form div#container div#content.colM div#content-main form#blueprintcreator_form div fieldset.module.aligned div.form-row.field-needs div div.related-widget-wrapper div.selector div.selector-available{
        width:40%;
    }
    html body.app-blueprint.model-blueprintcreator.change-form div#container div#content.colM div#content-main form#blueprintcreator_form div fieldset.module.aligned div.form-row.field-needs div div.related-widget-wrapper div.selector div.selector-chosen{
        width:40%;
    }

</style>
