{% extends 'home.html' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Username: {{ user.username }}</li>
            <li class="list-group-item list-group-item-info">First name: {{ user.first_name }}</li>
            <li class="list-group-item list-group-item-info">Last name: {{ user.last_name }}</li>
            <li class="list-group-item list-group-item-info">Email: {{ user.email }}</li>
        </ul>
    </div>
{% endblock %}