.*
*.yml
*.yaml
*.log
*.sqlite3
*.md
**/__pycache__/
static/
tmp/

# inspiration from (some are already excluded by above rules):
# https://github.com/github/safe-settings/blob/main-enterprise/.dockerignore
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/obj