{% extends "registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block registration_content %}

    <h2>
        {% trans "log in" context "login link title reset password complete page" %}
        {% blocktrans trimmed context "reset password complete page" with login_link='<a href="'|add:login_url|add:'">'|add:login_link_text|add:'</a>' %}
            Your password has been reset! You may now {{ login_link }} again.
        {% endblocktrans %}
    </h2>
{% endblock %}
