{% extends "registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block registration_content %}
    <h2>{% trans "Change Password" %}</h2>

    <form method='post' action=''>
        {% csrf_token %}
        <div class="form-group form-container">
            <label for="exampleInputEmail1">{% trans "Email address" %}</label>
            <input type="email" class="form-control" id="exampleInputEmail1"
                placeholder="{% trans "Email address" %}">
        </div>
        <input type='submit' class="btn btn-primary align-left" value="{% trans "Change password" %}"/>
    </form>
{% endblock %}
