{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% translate "Reset password" %}{% endblock %}

{% block registration_content %}
    <h2>{% translate "Forgot your password?" %}</h2>
    <p>{% translate "No Problem! We'll send you instructions on how to reset your password." %}</p>

    <form method='post' action='' style="margin-top:30px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">{% translate "Email address" %}</label>
            <input type="email" class="form-control" id="exampleInputEmail1"
                placeholder="{% translate "Email address" %}" name="email">
        </div>
        <input type='submit' class="btn btn-primary align-left" value="{% translate "Reset password" %}" />
    </form>
{% endblock %}
