{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% translate "Enter new password"  %}{% endblock %}

{% block registration_content %}
    <h2>{% translate "Enter your new password below to reset your password" %}</h2>

    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        {% translate "Change Password" as change_password_label %}
        <input type="submit" class="btn btn-primary align-left" value="{{ change_password_label|title }}"/>
    </form>
{% endblock %}
