{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% translate "Change Password" %}{% endblock %}

{% block registration_content %}
    {% translate "Change Password" as change_password_label %}
    <h2>{{ change_password_label | title }}</h2>

    <form method='post' action=''>
        {% csrf_token %}
        <div class="form-group form-container">
            {% translate "e-mail address" as email_address_label %}
            <label for="exampleInputEmail1">{{ email_address_label|title }}</label>
            <input type="email" class="form-control" id="exampleInputEmail1"
                placeholder="{{ email_address_label|title }}">
        </div>
        <input type='submit' class="btn btn-primary align-left" value="{{ change_password_label | title }}"/>
    </form>
{% endblock %}
