{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% translate "Reset password" %}{% endblock %}

{% block registration_content %}
    <h2>{% translate "Forgot your password?" %}</h2>
    <p>{% translate "No Problem! We'll send you instructions on how to reset your password." %}</p>

    <form method='post' action='' style="margin-top:30px;">
        {% csrf_token %}
        <div class="form-group">
            {% translate "e-mail address" as email_address_label %}
            <label for="email_input">{{ email_address_label | title }}</label>
            <input type="email" class="form-control" id="email_input"
                placeholder="{{ email_address_label | title }}" name="email">
        </div>
        <input type='submit' class="btn btn-primary align-left" value="{% translate "Reset password" %}" />
    </form>
{% endblock %}
