{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block registration_content %}

    <h2>
        {% trans "log in" context "login link title reset password complete page" as login_link_text %}
        {% url 'auth_login' as auth_login_url %}
        {% blocktrans trimmed context "reset password complete page" with login_link='<a href="'|add:auth_login_url|add:'">'|add:login_link_text|add:'</a>'|safe %}
            Your password has been reset! You may now {{ login_link }} again.
        {% endblocktrans %}
    </h2>
{% endblock %}
