{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block content %}
<div class="col-md-1"></div>
<div class="col-md-3 form-container ">
    <h1 class="align-right">volunteer-planner.org</h1>
    <h2 class="align-right">{% trans "Registration" %}</h2>
</div>

<div class="col-md-3 border-left form-container">
    {{ form.non_field_errors }}

    <form method='post' action=''>{% csrf_token %}
        <div class="form-group ">
            {% for email_error in form.email.errors %}
                <div class="alert alert-danger" role="alert">{{ email_error }}</div>
            {% endfor %}
            <input type="email" class="form-control" placeholder="{% trans "Email" %}" name="email" value="{{ form.cleaned_data.email }}">
        </div>
        <div class="form-group {%  if form.username.errors %} has-error{% endif %}">
            <label {%  if form.username.errors %} style="color:red"{% endif %} for="Username">{%  if form.username.errors %} {% trans "Username already exists. Please choose a different username." %} {% endif %}</label>
            <input class="form-control " id="Username" placeholder="{% trans "Username" %}" name="username" value="{{ form.cleaned_data.username }}">
        <p class="help-block">{% trans "Don't use spaces or special characters" %}</p>
        </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="{% trans "Password" %}" name="password1" value="{{ form.cleaned_data.password1 }}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="{% trans "Repeat password" %}" name="password2" value="{{ form.cleaned_data.password2 }}">
          </div>
        <button type="submit" class="btn btn-primary align-left">{% trans "Sign-up" %}</button>
    </form>
</div>

{% endblock %}
