{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %} {% translate "Activation email sent" %}{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h2>
            {% blocktranslate trimmed %}
                An activation mail will be sent to you email address.
            {% endblocktranslate %}
        </h2>

        <h3>
            {% blocktranslate trimmed %}
                Please confirm registration with the link in the email. If you
                haven't received it in 10 minutes, look for it in your spam
                folder.
            {% endblocktranslate %}
        </h3>
    </div>
{% endblock %}
