{% load i18n site %}
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">

            <a href="{% url 'home' %}">{% translate "Main page" %}</a> &bullet;
            <a href="/impressum/">{% translate "Imprint" %}</a> &bullet;
            <a href="/about/">{% translate "About" %}</a> &bullet;
            <a href="/unterstuetzer/">{% translate "Supporter" %}</a> &bullet;
            <a href="/presse/">{% translate "Press" %}</a> &bullet;
            <a href="/kontakt/">{% translate "Contact" %}</a> &bullet;
            {% include "partials/faq_link.html" %}
            <br>
            &copy; 2015-2016, 2022 volunteer-planner.org &bullet;
            v{% get_version %} &bullet;
            <a href="https://github.com/coders4help/volunteer_planner">GitHub</a> &bullet;

            {% blocktranslate trimmed with mailto_link='<a href="mailto:kontakt@volunteer-planner.org">kontakt@volunteer-planner.org</a>' %}
                Questions? Get in touch: {{ mailto_link }}
            {% endblocktranslate %}

        </p>
    </div>
</footer>
