{% load i18n memberships vpfilters %}

{% if user.is_staff or user.is_superuser %}
    {% with user.account.facility_set.all as user_facilities %}
        {% if user_facilities %}
            {% with user|get_pending_membership_approvals as pending_approvals %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle fa fa-wrench"
                       data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">
                        {% trans "Manage" %}

                        {% if pending_approvals.total > 0 %}
                            <span class="badge blue-batches fa fa-user-plus">{{ pending_approvals.total }}</span>
                        {% endif %}

                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">

                        {% for facility in user_facilities %}
                            <li class="dropdown-header">{{ facility.name }}</li>
                            <li>
                                <a href="{% url "manage-members" facility.organization.slug facility.slug %}">
                                    {% trans "Members" %}
                                    {% if pending_approvals.facilities and pending_approvals.facilities|get:facility.id > 0 %}
                                        <span class="badge blue-batches fa fa-user-plus">
                                            {{ pending_approvals.facilities|get:facility.id }}
                                        </span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endwith %}
        {% endif %}
    {% endwith %}
{% endif %}
