
<form>
    Location:
    <select name="location">
    </select>
    Place:
    <select name="place">
    </select>
    <br>
    Task:<br>
    <input type="text" name="task" value="{{ shift.task }}">
    <br>
    Description:<br>
    <textarea rows="4" cols="50"></textarea>
    <table class="">
        <tr>
            <th>Time start</th>
            <th>Time end</th>
            <th>Max. volunteers</th>
        </tr>
        <tr>
            <td><input type="text" name="time_start_1" value="{{ shift.starting_time }}"></td>
            <td><input type="text" name="time_end_1" value="{{ shift.starting_time }}"></td>
            <td><input type="text" name="max_vol_1" value="{{ shift.slots }}"></td>
        <tr>
    </table>
    <button type="button">Add line</button>
</form>
