{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}
{% block body_class %}helpdesk{% endblock %}

{% block content %}
<h1 class="">{{ title }}</h1>
<hr />

<form style="width: 50%" action="" method="post">{% csrf_token %}

    {# --- Task fields --- #}
    {% for field in task_form %}
        <div class="row form-group{% if field.errors %} has-error has-feedback{% endif %}">
            <div class="col-xs-12">
            {{ field.label_tag }}
            {% if field.errors %}
                <div class="control-label">
                    <span class="sr-only">Error:</span>
                    {{ field.errors.as_text }}
                </div>
            {% endif %}
            {% if field.help_text %}
                <div class="control-label help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
            </div>
        </div>
    {% endfor %}

    <hr />

    {# --- Shift fields --- #}
    {% for field in form %}
        {% cycle '<div class="row form-group">' '' %}
            <div class="col-xs-6{% if field.errors %} has-error has-feedback{% endif %}">
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}
                <div class="control-label">
                    <span class="sr-only">Error:</span>
                    {{ field.errors.as_text }}
                </div>
            {% endif %}
            {% if field.help_text %}
                <div class="control-label help">{{ field.help_text|safe }}</div>
            {% endif %}
            </div>
        {% cycle '' '</div>' %}
    {% endfor %}

    <hr />

    {# --- submit/cancel buttons --- #}
    <div class="row form-group text-right">
        <input class="btn btn-primary" type="submit" value="{{ submit_btn_text }}" name="save" />
        <a class="btn btn-default" href="{% url 'shift_management' %}" role="button">Cancel</a>
    </div>
</form>

{% endblock %}
