{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}
{% block body_class %}helpdesk{% endblock %}

{% block content %}
<div class="">
    <h1>Manage shifts</h1>

    {% if perms.scheduler.add_shift %}
    <p>
        <a class="btn btn-default" href="{% url 'shift_create' %}" role="button"><i class="fa fa-calendar-plus-o fa-fw"></i> Add Shift
        </a>
    </p>
    {% endif %}

    {% if object_list %}
    <table class="table table-striped">
        <tr>
            <th width="15%">Date</th>
            <th width="5%">Start</th>
            <th width="5%">End</th>
            <th width="10%">Organization</th>
            <th width="10%">Facility</th>
            <th>Task</th>
            <th width="15%">Actions</th>
        </tr>
        {% for shift in object_list %}
        <tr>
            <td>{{ shift.starting_time.date }}</td>
            <td>{{ shift.starting_time.time }}</td>
            <td>{{ shift.ending_time.time }}</td>
            <td>{{ shift.facility.organization }}</td>
            <td>{{ shift.facility }}</td>
            <td>{{ shift.task }}</td>
            <td>
                {% if perms.scheduler.change_shift %}
                <a class="btn btn-default btn-sm"
                    href="{% url 'shift_update' pk=shift.id %}"
                    role="button">Update</a>
                {% endif %}
                {% if perms.scheduler.delete_shift %}
                <a class="btn btn-default btn-sm"
                    href="{% url 'shift_delete' pk=shift.id %}"
                    role="button">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>        
    {% else %}
    <p>No scheduled shifts.</p>
    {% endif %}
</div>
{% endblock %}
