{% extends "helpdesk_base.html" %}

{% load i18n vpfilters google_links %}
{% load staticfiles %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
{% endblock %}

{% block additional_js %}
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" charset="UTF-8" src="{% static "custom/js/map.js" %}"></script>

    <script type="text/javascript">
        // Sample code for instantiating the platform and instantiating the map, adding some data
        var platform = new H.service.Platform({
            app_id: 'mZIEtVjJGeugdntBBM7B',
            app_code: 'QyYAEUpGd0Nt0DDfh94YAA',
            useCIT: true,
            useHTTPS: true
        });

        // instantiates the map and draws it into a div with the ID 'map'
        var map_instance = new HEREMap(platform.createDefaultLayers(), 'map');

        {% if shifts %}
            {% regroup shifts by facility.place.area.region.country as shifts_by_country %}
            {% for shifts_in_country in shifts_by_country %}
                {% regroup shifts_in_country.list by facility.place.area.region as shifts_by_region %}
                {% for shifts_in_region in shifts_by_region %}
                    {% regroup shifts_in_region.list by facility.place.area as shifts_by_area %}
                    {% for shifts_in_area in shifts_by_area %}
                        {% regroup shifts_in_area.list by facility.place as shifts_by_place %}
                        {% for shifts_in_place in shifts_by_place %}
                            {% regroup shifts_in_place.list by facility as shifts_by_facility %}
                            {% for shifts_in_facility in shifts_by_facility %}
                                {% with shifts_in_facility.grouper as facility %}
                                    {% if facility.latitude and facility.longitude %}
                                        map_instance.addViewportMarker({{ facility.latitude }}, {{ facility.longitude }}, "{{ facility.id }}", "{{ facility.name }}");
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        // no special event listener is added for now - this call only enables activating the clicked marker
        // we could use the event listener to highlight the corresponding facility in the list or move it to the top
        map_instance.registerEventListener(function() {});

        // sets the initial viewport - default center location will be Rathaus Wilmersdorf in Berlin if no facility is listed that has a latitude/longitude
        map_instance.setViewport(52.490062, 13.314006, 14);
    </script>
{% endblock %}

{% block helpdesk_content %}

    {% if shifts %}
        <div id="map" style="width:100%; height: 400px"></div>
        <div>
            {% with breadcrumps.flattened|slice:":-1" as sliced_breadcrumps %}

                {% regroup shifts by facility.place.area.region.country as shifts_by_country %}

                {% for shifts_in_country in shifts_by_country %}
                    {% if geographical_unit in shifts_in_country.grouper.breadcrumps|slice:":-1" %}
                        <h3>
                            <a href="{{ shifts_in_country.grouper.get_absolute_url }}">
                                {{ shifts_in_country.grouper.name }}
                            </a>
                        </h3>
                    {% endif %}

                    {% regroup shifts_in_country.list by facility.place.area.region as shifts_by_region %}

                    {% for shifts_in_region in shifts_by_region %}
                        {% if geographical_unit in shifts_in_region.grouper.breadcrumps|slice:":-1" %}
                            <h2>
                                <a href="{{ shifts_in_region.grouper.get_absolute_url }}">
                                    {{ shifts_in_region.grouper.name }}
                                </a>
                            </h2>
                        {% endif %}

                        {% regroup shifts_in_region.list by facility.place.area as shifts_by_area %}

                        {% for shifts_in_area in shifts_by_area %}

                            {% if geographical_unit in shifts_in_area.grouper.breadcrumps|slice:":-1" %}
                                <h1>
                                    <a href="{{ shifts_in_area.grouper.get_absolute_url }}">
                                        {{ shifts_in_area.grouper.name }}
                                    </a>
                                </h1>
                            {% endif %}

                            {% regroup shifts_in_area.list by facility.place as shifts_by_place %}

                            {% for shifts_in_place in shifts_by_place %}
                                {% if geographical_unit in shifts_in_place.grouper.breadcrumps|slice:":-1" %}
                                    <h4>
                                        <a href="{{ shifts_in_place.grouper.get_absolute_url }}">
                                            {{ shifts_in_place.grouper.name }}
                                        </a>
                                    </h4>
                                {% endif %}

                                {% regroup shifts_in_place.list by facility as shifts_by_facility %}

                                {% for shifts_in_facility in shifts_by_facility %}
                                    <div class="row">
                                        {% with shifts_in_facility.grouper as facility %}

                                            <div class="col-md-8">
                                                <h3>{{ facility.name }}</h3>
                                                {% if facility.address %}
                                                    <h5>{{ address_line }}
                                                        <a href="{{ facility.address_line|google_maps_directions }}"
                                                           target="_blank">
                                                            &rarr; {% trans "Show on Google Maps" %}
                                                        </a>
                                                    </h5>
                                                {% endif %}
                                                <p>{{ facility.description|safe }}</p>
                                            </div>

                                            <div class="pull-right">
                                                {% trans "shifts" as shifts_heading context "helpdesk shifts heading" %}
                                                <h3>
                                                    {{ shifts_heading|title }}
                                                </h3>

                                                <p>
                                                    {% regroup shifts_in_facility.list by starting_time.date as shifts_by_time %}
                                                    {% for shift_time in shifts_by_time %}
                                                        {% with shift_time.grouper as shift_date %}
                                                            <a href="{% url 'planner_by_facility' pk=facility.pk year=shift_date.year month=shift_date.month day=shift_date.day %}">
                                                                {{ shift_date|date }}
                                                            </a>
                                                            <br/>
                                                        {% endwith %}
                                                    {% endfor %}
                                                </p>
                                            </div>

                                        {% endwith %}
                                    </div>
                                {% endfor %} {# end: by facility #}
                                {% if not forloop.last %}
                                    <hr>
                                {% endif %}
                            {% endfor %} {# end: by place #}
                        {% endfor %} {# end: by area #}
                    {% endfor %} {# end: by region #}
                {% endfor %} {# end: by country #}
            {% endwith %}
        </div>
    {% else %}
        <h2>
            {% blocktrans trimmed with geographical_name=geographical_unit.name %}
                There are no upcoming shifts available for
                {{ geographical_name }}.
            {% endblocktrans %}
        </h2>
    {% endif %}
{% endblock %}


