{% extends "home.html" %}
{% load staticfiles %}
{% block javascript %}
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
{% endblock %}
{% block meta %}
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />
{% endblock %}
{% block title %}Helpdesk{% endblock %}
{% block body_class %}helpdesk{% endblock %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="col-md-7">
    {% include 'map.html' %}
    <h2>Freiwillige werden benötigt in folgenden Einrichtungen:</h2>

    {% for location in locations %}
        <div class="row">
            <div class="col-md-5">
                <h3>{{ location }}</h3>
                <p>
                    {{ location.street }}<br>
                    {{ location.postal_code }} {{ location.city }}
                </p>
                <p>
                    {{  location.additional_info|safe }}
                </p>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    {% for date, date_name in location.get_days_with_needs %}
                        <li>
                            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                            <a href="{% url 'planner_by_location' pk=location.pk year=date.year month=date.month day=date.day %}">
                                {{ date_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

{% if notifications %}
    <div class="col-md-3 notification-container">
        {% for notification in notifications %}
            <h2>Aufrufe von "{{ notification.location.name }}"</h2>
            {{ notification.creation_date }}
            <h3>{{ notification.title }}</h3>
            {{ notification.subtitle }}
            {{ notification.text|safe }}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
