{% extends "base.html" %}
{% load static %}

{% block html_attributes %} ng-app="vpWidgets"{% endblock %}

{% block additional_js %}
    <script src="{% static "angularjs/1.4.7/angular.min.js" %}"></script>
    <script src="{% static "angularjs/1.4.7/angular-sanitize.js" %}"></script>
    <!-- TODO: Conditional for Languages -->
    <script src="{% static "angularjs/1.2.5/i18n/angular-locale_de-de.js" %}"></script>
    <!--<script src="{% static "angularjs/1.2.5/i18n/angular-locale_en-gb.js" %}"></script></script>-->
    <script src="{% static "angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js" %}"></script>
    <script src="{% static "angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js" %}"></script>

    <script>
        angular.module('vpWidgets', ['ui.bootstrap', 'ngSanitize'])
                .controller('ShiftWidgetCtrl', function($scope) {
                    // this rather should be done through an nice REST api
                    $scope.facilities = {{ facility_json | safe }};
                    $scope.areas = {{ areas_json | safe }};
                    $scope.selectedAreas = [];
                    $scope.toggleArea = function (area) {
                        if ($scope.selectedAreas.indexOf(area) > -1) {
                            $scope.selectedAreas.splice($scope.selectedAreas.indexOf(area),1);
                        } else {
                            $scope.selectedAreas.push(area);
                        }
                    }
                });
    </script>
{% endblock %}

{% load osm_links i18n %}
{% block content %}

        <div ng-cloak ng-controller="ShiftWidgetCtrl">
            <h2>{% trans "You can help in the following facilities" %}</h2>
            {% verbatim %}
                <hr>
                <div>
                    {% endverbatim %}<span>{% trans "filter" %}:</span>{% verbatim %}
                    <label class="area-filter" ng-repeat="area in areas">
                        <input type="checkbox" value="{{ area.name }}"

                            ng-click="toggleArea(area.slug)"
                            ng-class="{ 'fddf': selectedAreas.indexOf(area.slug) > -1 }"
                            >{{ area.name }}
                    </label>
                </div>

                <div class="area-accordions row">
                    <div class="col-md-12">
                        <div ng-repeat="facility in facilities" ng-show="selectedAreas.indexOf(facility.area_slug) > -1 || selectedAreas.length == 0">
                            <accordion>
                                <accordion-group panel-class="panel-primary">
                                    <accordion-heading>
                                        {{ facility.name }} {% endverbatim %}[{% trans "see more" %}]{% verbatim %} <span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
                                    </accordion-heading>
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <h5>
                                                {{ facility.address_line }}
                                                <a target="_blank" rel="noreferrer" ng-href="{{ facility.osm_link }}">→ Show on map</a>
                                            </h5>
                                            <p ng-bind-html="facility.description"></p>
                                            <a ng-href="{{ facility.url }}">{% endverbatim %}{% trans "Show details" %}{% verbatim %}</a>

                                            <h4 ng-show="facility.news[0]">{% endverbatim %}{% trans "News" %}{% verbatim %}</h4>


                                        <div ng-repeat="news in facility.news">
                                            <hr>
                                        <h4>{{ news.title }} </h4>
                                            <date><i> {{ news.date | date:'fullDate' }}</i></date>
                                        <p ng-bind-html="news.text">{{ news.text }}</p>
                                        </div>

                                        </div>
                                        <div class="col-md-4">
                                            {% endverbatim %}<h4>{% trans "open shifts" %}</h4>{% verbatim %}
                                            <p>
                                                <span ng-repeat="shift in facility.shifts">
                                                    <a ng-href="{{ shift.link }}">{{ shift.date_string }}</a>
                                                    <br>
                                                </span>
                                            </p>
                                        </div>
                                    </div>


                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
            {% endverbatim %}
        </div>
{% endblock %}
