{% extends "base.html" %}

{% load google_links i18n %}

{% block content %}

    {% if notifications %}
        <div class="row">
            <h2>{% trans "Notifications" %}</h2>
            {% for notification in notifications %}

                <div>
                    <h3>{{ notification.title }}</h3>
                    <h4>
                        {% blocktrans with location_name=notification.location.name date=notification.creation_date %}
                            {{ location_name }} on {{ date }}
                        {% endblocktrans %}
                    </h4>
                    {{ notification.text|safe }}
                </div>
            {% endfor %}
        </div>
        <hr/>
    {% endif %}

    <div class="row">
        <h2>Helfer gesucht</h2>

        {% regroup shifts by location as shifts_by_location %}

        {% for location_shifts in shifts_by_location %}
            {% with location_shifts.grouper as location %}
                <div class="row">
                    <div class="col-md-8">
                        <h3>{{ location }} </h3>
                        {% with location.street|add:", "|add:location.postal_code|add:" "|add:location.city as address_line %}
                            {% if address_line %}
                                <h5>{{ address_line }} <a
                                        href="{{ address_line|google_maps_directions }}"
                                        target="_blank">&rarr; Google Maps</a>
                                </h5>
                            {% endif %}
                        {% endwith %}
                        <p>{{ location.additional_info|safe }}</p>
                    </div>

                    {% regroup location_shifts.list by ending_time.date as shifts_by_time %}

                    <div class="pull-right">
                        <h3>{% trans "dates" %}</h3>

                        <p>
                            {% for shift_time in shifts_by_time %}
                                {% with shift_time.grouper as shift_date %}
                                    <a href="{% url 'planner_by_location' pk=location.pk year=shift_date.year month=shift_date.month day=shift_date.day %}">
                                        {{ shift_date|date }}
                                    </a>
                                    <br/>
                                {% endwith %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
