{% extends "home.html" %}
{% load i18n %}
{% block title %}{% blocktrans %} Helpdesk for {{ location.name }}{% endblocktrans %} {% endblock %}
{% block body_class %}helpdesk{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        {% include "partials/alert_messages.html" %}

        <h2>
            {% blocktrans %} Rotations at {{ needs.0.location.name }}
            until {{ needs.0.ending_time|date:"d. M. Y" }}" {% endblocktrans %}
        </h2>

        {% for need in needs %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="need" value="{{ need.pk }}">

                {% ifchanged need.topic.title %}
                    <h3>{{ need.topic.title }}</h3>
                    <div class="help-text-wrapper" style="margin:10px 0px 10px 0">
                        <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> {{ need.topic.description }}
                    </div>
                {% endifchanged %}

                <p class="need" data-need-id="{{ need.pk }}">
                    <strong>
                        {% trans "between" %} {{ need.starting_time|date:"H:i" }} -
                        {{ need.ending_time|date:"H:i" }} {% trans "hours" %}
                    </strong>
                    ({% trans "required" %}: {{ need.slots }}/{% trans "filled" %}: {{ need.volunteer_count }})
                    | {% trans "Volunteers" %}:
                    {% for volunteer in need.registrationprofile_set.all %}
                        {{ volunteer.user.username }},
                    {% endfor %}
                    |
                    {% if need.slots > need.volunteer_count %}
                        <span style="color:red">{% blocktrans %}are needed {% endblocktrans %}</span>
                        <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                        {% if user.registrationprofile not in need.registrationprofile_set.all %}
                            <button type="submit" name="action" value="add" style="margin-left:10px;" aria-expanded="false" aria-haspopup="true" class="btn btn-info add-button">
                                {% blocktrans %}I participate! {% endblocktrans %} <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                            </button>
                        {% endif %}
                    {% else %}
                        <span style="color:green">{% blocktrans %}covered{% endblocktrans %}</span>
                    {% endif %}
                    {% if user.registrationprofile in need.registrationprofile_set.all %}
                        <button type="submit" name="action" value="remove" class="btn btn-danger delete-button">{% trans "submit" %}</button>
                    {% endif %}
                </p>
            </form>
        {% endfor %}
    </div>
{% endblock %}
