<div id="map" style="width: 100%; height: 400px; background: white"></div>
<div id="clicked-location"><p>Click on a marker to show the location's details.</p></div>
<script type="text/javascript" charset="UTF-8" >
    /**
    * Boilerplate map initialization code starts below:
     */

    //Step 1: initialize communication with the platform
    var platform = new H.service.Platform({
        app_id: 'mZIEtVjJGeugdntBBM7B',
        app_code: 'QyYAEUpGd0Nt0DDfh94YAA',
        useCIT: true,
        useHTTPS: true
    });
    var defaultLayers = platform.createDefaultLayers();

    //Step 2: initialize a map
    var map = new H.Map(document.getElementById('map'), defaultLayers.normal.map);

    //Step 3: make the map interactive
    // MapEvents enables the event system
    // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Create the default UI components
    var ui = H.ui.UI.createDefault(map, defaultLayers);

    function createSVGMarker(lat, lon, color) {
        var nrIcon = createSVGIcon(color);
        return new H.map.Marker({ lat: lat, lng: lon }, {icon: nrIcon});
    }

    function createSVGIcon(color) {
        // https://developer.mozilla.org/en-US/docs/Web/SVG/Element/path
        var fillColor;
        switch (color) {
            case "dark-blue":
                fillColor = "#0B4680";
                break;
            case "light-blue":
            default:
                fillColor = "#168CFF";
        }
        var svgMarkup =
            '<svg width="28" height="35" xmlns="http://www.w3.org/2000/svg">' +
                '<g>' +
                    '<ellipse cx="15" cy="32" rx="6.5" ry="3" fill="#BBBBBB" style="fill-opacity:0.7"/>' +
                    '<path d="M 15 30 l -8 -8 a 12 12 0 1 1 16 0 z" stroke="white" stroke-width="2" fill="' + fillColor + '" />' +
                '</g>' +
            '</svg>';

        return new H.map.Icon(svgMarkup);
    }

    function updateColor(marker, color) {
        marker.setIcon(createSVGIcon(color));
    }

    function createMarkersGroup() {
        markers = new Array();
        {% for location in locations %}
            {% if location.latitude and location.longitude %}
                var marker = createSVGMarker({{ location.latitude }}, {{location.longitude}}, '', 'light-blue');
                var record = [];
                record['id'] = {{ location.pk }};
                record['name'] = "{{ location.name }}";
                record['street'] = "{{ location.street }}";
                record['postal_code'] = "{{ location.postal_code }}";
                record['city'] = "{{ location.city }}";
                marker.setData(record);
                markers.push(marker);
            {% endif %}
        {% endfor %}

        group = new H.map.Group();

        // add 'tap' event listener
        group.addEventListener('tap', changeColor, false);
        group.addEventListener('tap', showAdditionalInfo, false);

        group.addObjects(markers);
        return group;
    }

    // Now use the map as required...
    markersGroup = createMarkersGroup();
    map.addObject(markersGroup);

    function resetAllMarkerColors() {
        for (var i = 0; i < markersGroup.getObjects().length; i++) {
            updateColor(markersGroup.getObjects()[i], 'light-blue');
        };
    }

    function changeColor(evt) {
        resetAllMarkerColors();
        updateColor(evt.target, 'dark-blue');
    }

    function showAdditionalInfo(evt) {
        // this is a little bit hacky to get the JavaScript value into the Django URL
        var jsonUrl = "{% url 'location_json' 12345 %}".replace(/12345/, evt.target.getData().id.toString())
        $.getJSON( jsonUrl, function( data ) {
            var html = "<h3>" + data.name + "</h3><p>" + data.street + "<br/>" + data.postal_code + ", " + data.city + "</p><ul>";
            for (var i = 0; i < data.dates.length; i++) {
                // generate URL with placeholders
                var url = "{% url 'planner_by_location' pk="12345" year="9999" month="13" day="99" %}"
                // replace location ID
                url = url.replace("12345", data.id);
                // replace year
                url = url.replace("9999", data.dates[i].year);
                // replace month
                url = url.replace("13", data.dates[i].month);
                // replace day
                url = url.replace("99", data.dates[i].day);

                html = html + "<li><a href=\"" + url + "\">" + data.dates[i].date_str + "</a></li>";
            }
            html = html + "</ul>";
            $( '#clicked-location').html( html );
        });
    }

    function centerMapInBerlin(map) {
        map.setCenter({lat:52.5159, lng:13.3777});
        map.setZoom(14);
    }

    if (markersGroup.getObjects().length == 0) {
        // no location is given: just show the map of Berlin without any markers
        centerMapInBerlin(map);
    } else {
        // expand the map in a way that all markers are shown on the map
        map.setViewBounds(group.getBounds());

        if (markersGroup.getObjects().length == 1) {
            // reset the zoom level in case there's only one marker
            // otherwise, the zoom level would be too high
            map.setZoom(15);
        }
    }
</script>