{% load i18n %}{% blocktrans with shift_title=shift.topic.title location=shift.location.name from_date=shift.starting_time.date from_time=shift.starting_time.time to_time=shift.ending_time.time old_from_date=shift.starting_time.date old_from_time=shift.starting_time.time old_to_time=shift.ending_time.time %}
Hallo,

wir mussten die folgende Schicht zeitlich anpassen:

{{ shift_title }}, {{ location }}
{{ old_from_date }} von {{ old_from_time }} bis {{ old_to_time }}

Die neuen Schichtzeiten sind:

{{ from_date }} von {{ from_time }} bis {{ to_time }}

Wenn Sie zur neuen Uhrzeit unglücklicher Weise nicht mehr helfen kännen, bitten
wir Sie, sich im Volunteer-Planner aus dieser Schicht auszutragen, damit jemand
anderes die Chance erhält, zu unterstützen. Vielen Dank :)

Dies hier ist eine automatisch generierte Email. Bei Fragen, wenden Sie sich
bitte an die Emailadresse, die bei den Unterkünften in der Beschreibung angegeben
ist.

Liebe Grüße vom Volunteer Planner
volunteer-planner.org
{% endblocktrans %}
