{% load i18n %}{% blocktrans with shift_title=shift.task.name.strip|safe location=shift.facility.name.strip|safe from_date=shift.starting_time.date|date from_time=shift.starting_time.time to_time=shift.ending_time.time %}
Hello,

we're sorry, but we had to cancel the following shift at request of the organizer:

{{ shift_title }}, {{ location }}
{{ from_date }} from {{ from_time }} to {{ to_time }} o'clock

This is an automaticly generated e-mail. If you have any questions, please contact the facility directly.

Yours,

the volunteer-planner.org team
{% endblocktrans %}
