{% load i18n %}{% blocktrans %}
Hallo,

leider musste auf Wunsch der Zuständigen die folgende Schicht abgesagt werden:

{{ shift.topic.title }}, {{ shift.facility.name }}
{{ shift.starting_time.date }} von {{ shift.starting_time.time }} bis {{ shift.ending_time.time }}

Dies hier ist eine automatisch generierte Email. Bei Fragen, wenden Sie sich bitte an die Emailadresse, die bei den Unterkünften in der Beschreibung angegeben ist.

Liebe Grüße vom Volunteer Planner
volunteer-planner.org
{% endblocktrans %}
