{% load i18n %}{% blocktrans with shift_title=shift.task.name.strip|safe location=shift.facility.name.strip|safe from_date=shift.starting_time.date|date from_time=shift.starting_time.time to_time=shift.ending_time.time %}
Hallo,

leider musste auf Wunsch der Zuständigen die folgende Schicht abgesagt werden:

{{ shift_title }}, {{ location }}
{{ from_date }} von {{ from_time }} bis {{ to_time }} Uhr

Dies hier ist eine automatisch generierte Email. Bei Fragen, wenden Sie sich bitte an die Emailadresse, die bei den Unterkünften in der Beschreibung angegeben ist.

Liebe Grüße vom Volunteer Planner
volunteer-planner.org
{% endblocktrans %}
