{% extends 'home.html' %}

{% block title %} Volunteer Search {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-2" id="bloodhound">
        <h1>Volunteer Search</h1>
        <p>Use following field to search volunteers at <strong>{{ location }}</strong> for today {{ today }}.</p>
        <input class="typeahead form-control" type="text" placeholder="Search Email or Username">
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script src="/static/js/typeahead.js" type="text/javascript"></script>
    <script>
    data = {{ data|safe }};
    var volunteers = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: data
    });

    $('#bloodhound .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'volunteers',
      source: volunteers
    });
    </script>
{% endblock %}