{% extends "admin/change_form.html" %}
{% load vpfilters i18n l10n admin_urls static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a
            href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo;
        <a href="{% url opts|admin_urlname:'change' schedule_template.pk|admin_urlquote %}">{{ schedule_template }}</a>
        &rsaquo;
        {% trans "Apply Template" %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">

    <h2>
        {% trans "Please review and confirm shifts to create" %}:
    </h2>
    <h2>
        {{ selected_date|date }}<br/>
        {{ schedule_template.facility.name }}
    </h2>

    <form method="post">
        {% csrf_token %}
        {{ apply_form.apply_for_date.as_hidden }}
        {% for shift in selected_shifts %}
            <input type="hidden" name="selected_shift_templates"
                   value="{{ shift.pk }}">
        {% endfor %}


        {% trans "no workplace" as no_workplace %}
        {% trans "apply" as apply_trans %}
        {% trans "volunteers" as num_trans %}
        {% trans "task" as task_trans %}
        {% trans "workplace" as workplace_trans %}
        {% trans "starting time" as starting_trans %}
        {% trans "ending time" as ending_trans %}
        {% trans "members only" as members_only_trans %}

        {% regroup combined_shifts by task as shifts_by_task %}

        <div>
        <table>
            {% for shifts_for_task in shifts_by_task %}

                {% regroup shifts_for_task.list by workplace as shifts_by_workplace %}

                {% for shifts_at_workplace in shifts_by_workplace %}
                    <thead>
                    <tr>
                        <th colspan="6">
                            <h2>
                                {{ shifts_for_task.grouper.name }}
                                {% if shifts_at_workplace.grouper %}
                                    -
                                    {{ shifts_at_workplace.grouper.name }}
                                {% endif %}
                            </h2>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th> {{ members_only_trans|title }}</th>
                        <th> {{ num_trans|title }}</th>
                        <th> {{ task_trans|title }}</th>
                        <th> {{ workplace_trans|title }}</th>
                        <th> {{ starting_trans|title }}</th>
                        <th> {{ ending_trans|title }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shift in shifts_at_workplace.list %}
                        {% with is_template=shift.schedule_template %}

                            <tr style="background-color:
                                    {{ is_template|yesno:"#EEFFEE,#FFFDD9" }};">
                                <td>
                                    {{ is_template|yes:"<strong>&rarr;</strong>" }}
                                </td>
                                <td>
                                    {{ shift.members_only|yes:members_only_trans|title }}
                                </td>
                                <td>
                                    {% if not is_template %}
                                        {{ shift.volunteer_count }} /
                                    {% endif %}
                                    {{ shift.slots }}</td>
                                <td>{{ shift.task.name }}</td>
                                <td>
                                    {{ shift.workplace.name|default:"-" }}</td>
                                <td>
                                    {% if is_template %}
                                        {{ shift.starting_time }}
                                    {% else %}
                                        {{ shift.starting_time.time }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ shift.localized_display_ending_time }}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                {% endfor %}
            {% endfor %}
        </table>
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans "Apply" %}"
                   class="default" name="confirm">
            <input type="submit" value="{% trans "Apply and select new date" %}"
                   class="default" name="confirm_and_repeat">
        </div>
    </form>
    </div>
{% endblock %}
