{% extends "registration_base.html" %}
{% load i18n %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="col-md-3 form-container ">
    <h1 class="text-center">volunteer-planner.org</h1>
    </div>
<div class="col-md-3 border-left">
Du hast das Passwort vergessen? Kein Problem! Wir schicken Dir einen Link, um ein neues zu setzen.

    <form method='post' action='' style="margin-top:30px;">{% csrf_token %}
      <div class="form-group">
    <label for="exampleInputEmail1">Emailadresse</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
  </div>
   <input type='submit' class="btn btn-primary align-left" value="{% trans "Reset password"  %}" />
</form>
    </div>


{% endblock %}
