div.marker-info h3 {
    font-size: 0.7em;
    font-weight: bold;
}

div.marker-info p {
    font-size: 0.6em;
    color: #FFFFFF;
}

/** InfoBubble */
.H_ib {
  position: absolute;
  left: .91em;
  background: #1F262A;
  color: #fff;
  font-size: 2em;
  line-height: 1em;
  fill: #1F262A;
  left: -100%;
  -moz-user-select: initial;
  -khtml-user-select: initial;
  -webkit-user-select: initial;
  -o-user-select: initial;
  -ms-user-select: initial;
}
.H_ib_tail {
  position: absolute;
  left: -.3em;
  bottom: -.5em;
  width: 1.2em;
  height: 1.2em;
  z-index: 100;
}
.H_ib_notail .H_ib_tail {
  display: none;
}
.H_ib_body {
  background: #1F262A;
  position: absolute;
  bottom: .5em;
  padding: 0 1.2em 0 0;
  border-radius: .2em;
  margin-right: -1em;
  right: 0;
}
.H_ib_close {
  font-size: .6em;
  position: absolute;
  right: .2em;
  top: .2em;
  cursor: pointer;
  fill: #fff;
}
.H_disabled .H_ib_close {
  cursor: default;
}

.H_ib_noclose .H_ib_close {
  display: none;
}
.H_ib_noclose .H_ib_body {
  padding: 0 0 0 0;
}

.H_ib_content {
  min-width: 6em;
  margin: .2em 0;
  padding: 0 .2em;
}