{% extends "helpdesk_base.html" %}

{% load i18n vpfilters %}

{% block helpdesk_content %}

    <ul class="breadcrumb">
        <li>
            <a href="/helpdesk/">{% trans "Helpdesk" %}</a>
        </li>

        <li>
            <a href="{{ facility.organization.url }}">
                {{ facility.organization.name }}
            </a>
        </li>

        <li class="active">
            {{ facility.name }}
        </li>

    </ul>

    <h1>{{ facility.name }}</h1>

    {% if facility.address_line %}
        <p>
            {{ facility.address_line }}
            <a target="_blank" href="{{ facility.osm_link }}">→ Show on map</a>
        </p>
    {% endif %}

    {{ facility.contact_info | safe }}

    {{ facility.description | safe }}

    <p>
        <a href="{{ facility.organization.url }}">{{ facility.organization.name }} </a>
    </p>

    <h4>{% trans "Open Shifts" %}</h4>
    <p>
        {% for shift in facility.shifts %}
            <a href="{{ shift.link }}">{{ shift.date_string }}</a>
            <br>
        {% endfor %}
    </p>

    {% if facility.news %}
        <h4>{% trans "News" %}</h4>
        {% for news in facility.news %}
            <h5>{{ news.title }}</h5>
            <date><i>{{ news.date }}</i></date>
            {{ news.text | safe }}
        {% endfor %}
    {% endif %}

{% endblock %}
