{% extends "base.html" %}

{% load i18n static %}

{% block additional_js %}
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#manageMembership .action').on('click', function () {
                var data = {
                    user_account_id: $(this).parents('td').siblings('.manage-member').attr('data-account-id'),
                    facility_id: $(this).parents('td').siblings('.manage-member').attr('data-facitlity-id'),
                    action: $(this).attr('data-action')
                };

                function onError(content) {
                    if (content.status == 403) {
                        alert('{% trans "Error" %}\n{% trans "You are not allowed to do this." %}');
                    }
                }

                function onComplete(content) {
                    location.reload();
                }

                ajaxPost('{% url "manage-members-ajax" facility.organization.slug facility.slug  %}', data, null, {
                    onError: onError,
                    onComplete: onComplete
                });
            })

        });
    </script>
{% endblock %}

{% block content %}

    {% with object as facility %}

        <div class="row">

            <h2>
                {% blocktrans trimmed %}
                    Members in {{ facility }}
                {% endblocktrans %}
            </h2>

        </div>

        {% regroup facility.memberships.all by status as memberships_by_status %}

        <div class="row">
            <h2>
                {{ facility.name }}
            </h2>
            {% for memberships_for_status in memberships_by_status %}

                <h3>{{ memberships_for_status.list.0.get_status_display|title }}</h3>

                <table class="table table-striped" id="manageMembership">
                    <thead>
                    <tr>
                        <th>
                            {% trans "Username" %}
                        </th>
                        <th>
                            {% trans "Email" %}
                        </th>
                        <th>
                            {% trans "Role" %}
                        </th>
                        <th>
                            {% trans "Actions" %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for membership in memberships_for_status.list %}
                        <tr>
                            <td class="manage-member"
                                data-facitlity-id="{{ facility.pk }}"
                                data-account-id="{{ membership.user_account.pk }}">

                                {{ membership.user_account.user.username }}
                            </td>
                            <td>
                                <a href="mailto:{{ membership.user_account.user.email }}">
                                    {{ membership.user_account.user.email }}
                                </a>
                            </td>
                            <td>
                                {{ membership.get_role_display|title }}
                            </td>
                            <td>
                                {% if membership.status == membership.Status.APPROVED %}
                                    <span data-action="reject" class="fa fa-minus-circle action">
                                        {% trans "Block" %}
                                    </span>&nbsp;|&nbsp;
                                {% elif membership.status == membership.Status.PENDING %}
                                    <span data-action="accept" class="fa fa-user-plus action">
                                        {% trans "Accept" %}
                                    </span>&nbsp;|&nbsp;
                                    <span data-action="reject" class="fa fa-minus-circle action">
                                        {% trans "Block" %}
                                    </span>&nbsp;|&nbsp;
                                {% endif %}
                                <span data-action="remove" class="fa fa-remove action">
                                    {% trans "Remove" %}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% endfor %}

        </div>
    {% endwith %}
{% endblock %}


