{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}
{% block body_class %}helpdesk{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">

    <ul class="list-group">
        {% if shifts_today.count > 0  %}
            {% translate 'My shifts today:' %}
        {% else %}
            {% translate 'No shifts today.' %}
        {% endif %}

        {% for shifts in shifts_today %}
            <li class="list-group-item list-group-item-info">{{ shifts.shift }}
                <a href="{{shifts.shift.get_absolute_url}}/direct/" class="btn btn-default">{% translate 'Show this work shift' %}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="list-group">
        {% if shifts_tomorrow.count > 0  %}
            {% translate 'My shifts tomorrow:' %}
        {% else %}
            {% translate 'No shifts tomorrow.' %}
        {% endif %}

        {% for shifts in shifts_tomorrow %}
            <li class="list-group-item list-group-item-info">{{ shifts.shift }}
                <a href="{{shifts.shift.get_absolute_url}}/direct/" class="btn btn-default">{% translate 'Show this work shift' %}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="list-group">
        {% if shifts_day_after_tomorrow.count > 0  %}
            {% translate 'My shifts the day after tomorrow:' %}
        {% else %}
            {% translate 'No shifts the day after tomorrow.' %}
        {% endif %}

        {% for shifts in shifts_day_after_tomorrow %}
            <li class="list-group-item list-group-item-info">{{ shifts.shift }}
                <a href="{{shifts.shift.get_absolute_url}}/direct/" class="btn btn-default">{% translate 'Show this work shift' %}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="list-group">
        {% if shifts_further_future.count > 0  %}
            {% translate 'Further shifts:' %}
        {% else %}
            {% translate 'No further shifts.' %}
        {% endif %}

        {% for shifts in shifts_further_future %}
            <li class="list-group-item list-group-item-info">{{ shifts.shift }}
                <a href="{{shifts.shift.get_absolute_url}}/direct/" class="btn btn-default">{% translate 'Show this work shift' %}</a>
            </li>

        {% endfor %}
    </ul>
    <a href="{% url 'shift_list_done' %}" class="btn btn-default">{% translate 'Show my work shifts in the past' %}</a>
</div>
{% endblock %}
