{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}
{% block body_class %}helpdesk{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
         <ul class="list-group">
             <li class="list-group-item list-group-item-info">{% trans 'Username' %}: {{ user.username }}</li>
             <li class="list-group-item list-group-item-info">{% trans 'First name' %}: {{ user.first_name }}</li>
             <li class="list-group-item list-group-item-info">{% trans 'Last name' %}: {{ user.last_name }}</li>
             <li class="list-group-item list-group-item-info">{% trans 'Email' %}: {{ user.email }}</li>
         </ul>
        {% trans 'If you delete your account, this information will be anonymized, and its not possible for you to log into Volunteer-Planner anymore.' %}
        {% trans 'Its not possible to recover this information. If you want to work as volunteer again, you will have to create a new account.' %}
        <div>
            <a href="{% url 'account_delete_final' %}" class="btn btn-danger">{% trans 'Delete Account (no additional warning)' %}</a>
        </div>
    </div>
{% endblock %}