{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}
{% block body_class %}helpdesk{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <ul class="list-group">
        {% translate 'username' as username_label %}
        {% translate 'e-mail address' as email_address_label %}
        <li class="list-group-item list-group-item-info">{{ username_label|title }}: {{ user.username }}</li>
        <li class="list-group-item list-group-item-info">{% translate 'First name' %}: {{ user.first_name }}</li>
        <li class="list-group-item list-group-item-info">{% translate 'Last name' %}: {{ user.last_name }}</li>
        <li class="list-group-item list-group-item-info">{{ email_address_label|title }}: {{ user.email }}</li>
    </ul>
    <div>
        <a href="{% url 'account_edit' %}" class="btn btn-default">{% translate 'Edit Account' %}</a>
        <a href="{% url 'account_delete' %}" class="btn btn-danger">{% translate 'Delete Account' %}</a>
    </div>
</div>
{% endblock %}
