Schichtplan für {{  mail.organization }} vom {{ needs.0.starting_time|date:"d.m.Y"  }}

Alle Daten sind vertraulich und nicht zur Weitergabe an Dritte bestimmt!


{% for need in needs %}

    {% if need.registrationprofile_set %}
     {% ifchanged need.topic.title %}
         {{ need.topic.title }}
     {% endifchanged %}
     von {{ need.starting_time|date:"H" }} - {{ need.ending_time|date:"H" }} Uhr angemeldet sind {{ need.volunteer_count }}) Freiwillige:

    {% for volunteer in need.registrationprofile_set.all %}
             {{ volunteer.user.username }} ({{ volunteer.user.email }})
    {% endfor %}
    {% endif %}

{% endfor %}
