Schichtplan für {{  mail.organization }} vom {{ needs.0.time_period_from.date_time|date:"d.m.Y"  }}

Alle Daten sind vertraulich und nicht zur Weitergabe an Dritte bestimmt!


{% for need in needs %}
    {% if need.get_volunteers %}
     {% ifchanged need.topic.title %}
         {{ need.topic.title }}
         {% endifchanged %}
     von {{ need.time_period_from.date_time|date:"H" }} - {{ need.time_period_to.date_time|date:"H" }} Uhr angemeldet sind {{ need.get_volunteer_total }}) Freiwillige:

    {% for volunteer in need.get_volunteers %}
             {{ volunteer.user.username }} ({{ volunteer.user.email }})
    {% endfor %}
    {% endif %}

{% endfor %}