{% load i18n osm_links %}

<div class="row">
    <div class="col-md-8">
        <h3>{{ facility.name }}</h3>

        {% if facility.address %}
            <p>
                {{ facility.address_line }}
                <a target="_blank" rel="noreferrer" href="{{ facility.address_line|osm_search }}">→ Show on map</a>
            </p>
        {% endif %}

        <p>
            {{ facility.description|truncatechars_html:150|safe }}
        </p>

        <p>
            <a href="{{ facility.get_absolute_url }}">{% trans "Show details" %}</a>
        </p>
    </div>

    {# TODO: Should be optimized (see Facility.open_shifts) #}
    {% regroup facility.open_shifts.all by starting_time.date as shifts_by_day %}
    {% if shifts_by_day %}
        <div class="pull-right">
            <h4>{% trans "Open Shifts" %}</h4>

            <p>
                {% for shifts_on_day in shifts_by_day %}
                    {% with shifts_on_day.grouper as shift_date %}
                        <a href="{% url 'planner_by_facility' facility_slug=facility.slug year=shift_date.year month=shift_date.month day=shift_date.day %}">
                            {{ shift_date|date }}
                        </a>
                        <br/>
                    {% endwith %}
                {% endfor %}
            </p>
        </div>
    {% endif %}
</div>
