<!DOCTYPE html>
{% load static site %}
{% request_site request as site %}

<html{% block html_attributes %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ site.domain }}{% endblock %}</title>

    {% include "google_headers.html" %}

    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/sticky-footer-navbar.css" %}" rel="stylesheet">

    <!-- Font-Awesome -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- Custom style sheet -->
    <link href="{% static "custom/css/vp.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="{% static "html5shiv/3.7.2/html5shiv.min.js" %}"></script>
        <script src="{% static "respond/1.4.2/respond.min.js" %}"></script>
    <![endif]-->
    {% block additional_css %}
    {% endblock %}
</head>

<body role="document">

{% include "partials/navigation_bar.html" %}

<div class="container" role="main">
    <!-- Begin page content -->
    {% block content %}

    {% endblock %}
    <!-- End page content -->
</div>
<!-- /container -->

{% include "partials/footer.html" %}

<script src="{% static "jquery/js/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
<script src="{% static "custom/js/vp.js" %}"></script>
{% block additional_js %}
{% endblock %}
</body>
</html>
