{% extends 'home.html' %}
{% block title %} Volunteer Planner - Häufig gestellte Fragen {% endblock %}
{% block content %}
    <div class="container text-container">
        <a href="/">
            <div class="svg-frame">
                <img src="/static/img/Volunteer_logo.svg" alt="">
            </div>
        </a>

        <h2>Wie funktioniert volunteer-planner.org?</h2>

        <ul>
            <li>1. Registrieren,</li>
            <li>2. Den Link in der Bestätigungs-Email klicken (bitte auch in eurem Spam-Ordner nachschauen.),</li>
            <li>3. Einloggen,</li>
            <li>4. Eine Schicht auswählen,</li>
            <li>5. Hingehen.</li>
        </ul>

        <h2>Ich kann meine Schicht doch nicht wahrnehmen. Was soll ich tun?</h2>

        <p>Kein Problem. Logge dich wieder ein, suche deine gewählte Schicht und trage dich wieder aus. Dann sehen die
            anderen User, dass dort in der Schicht wieder ein Platz frei ist und können einspringen.</p>

        <h2>Welche Flüchtlingsunterkünfte nutzen derzeit diese Plattform?</h2>

        <p>Die Notunterkunft im Rathaus Wilmersdorf und das Flüchtlingsheim in Weißensee.</p>

        <h2>Kommen weitere Flüchtlingsunterkünfte hinzu?</h2>

        <p>Ja, hoffentlich! Wir arbeiten daran die Seite hierfür auszubauen. Falls du in einer Flüchtlingsunterkunft
            aktiv bist, die ebenfalls diese Plattform nutzen möchte, bitte kontaktiere uns per Email.</p>

        <h2>Muss ich etwas zahlen um die Webseite zu nutzen? Muss ich Werbung anschauen?</h2>

        <p>Nein & nein. Weder jetzt, noch in Zukunft. Diese Webseite ist kostenlos und werbefrei. Dies ist ein Projekt
            an dem wir in unserer Freizeit arbeiten.
            <br>
            Eventuell… irgendwann… würden wir vielleicht Förderungen oder Spenden annehmen damit Personen beginnen
            können Vollzeit an der Plattform zu arbeiten... Das ist aber eher eine Vision als ein konkreter Plan. Doch
            auch dann bleibt die Plattform kostenlos und werbefrei.</p>

        <h2>Warum werden meine Emails nicht beantwortet?</h2>

        <p>Bitte entschuldigt falls wir zur Zeit nicht jede Email beantworten können. Wir erhalten etwa 200 Anfragen pro
            Tag. Wir versuchen auf jeden Fall alle eure Anregungen mit aufzunehmen!</p>

        <h2>Was macht ihr mit unseren Daten?</h2>

        <p>
            Wenn ihr euch für eine Schicht eintragt, erhält die verantwortliche Person vor Ort deinen Usernamen und
            Emailadresse. Dies dient lediglich organisatorischen Zwecken.
            <br>
            Ansonsten werden Daten nicht an Dritte weitergegeben oder verkauft.
        </p>

        <h2>Nach meiner Registrierung habe ich keine Email mit einem Bestätigungs-Link erhalten. Was soll ich tun?</h2>

        <p>
            Bitte schaue in dem Spam Ordner deines Email-Postfachs. Falls sie dort nicht zu finden ist gedulde dich bitte
            kurz. Der Email-Versandt kann in manchen Fällen einige Minuten dauern. Falls dies auch nicht hilft, versuche
            bitte dich erneut zu registrieren.
        </p>

        <h2>Muss ich geimpft sein um vor Ort zu helfen?</h2>

        <p>
            Müssen: nein. Aber an allen Orten wo viele Menschen auf engem Raum zusammenleben können sich Krankheiten
            leichter verbreiten. Somit sind die übliche Impfungen empfehlenswert. Hier ein Überblick:
            <a target="_blank" href="http://www.berlin-hilft-lageso.de/impfkalender.html">http://www.berlin-hilft-lageso.de/impfkalender.html</a>
        </p>

        <h2>Wer steckt hinter Volunteer-Planner.org?</h2>

        <p>Eine frei organisierte Gruppe an Menschen, die in ihrer Freizeit daran arbeiten.</p>

        <h2>Warum zeigt ihr eure Gesichter nicht?</h2>

        <p>Weil wir super unfotogen sind. Und, weil es auf dieser Seite nicht um uns geht, sondern um alle Menschen,
            die helfen.</p>

        <h2>Warum habt ihr kein Impressum? Unseriös!</h2>

        <p>Wir ärgern uns schon genug über rechte Vollidioten, da müssen die nicht auch noch vor unserer Tür stehen! </p>
    </div>
{% endblock %}