{% load humanize %}
<!DOCTYPE html>
<html lang="de">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Volunteer Planner</title>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/bootstrap4/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <!-- Webfonts -->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
      <div class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="#"><img src="/static/images/volunteer-planner-logo.png" alt=""></a>

            <div class="form-inline navbar-form pull-right">
                <button type="button" class="btn btn-secondary">Login</button>
                <button type="button" class="btn btn-primary">Registrieren und helfen</button>
            </div>
        </div>
      </div>
    </nav>

    {% block stage %}

    {% endblock %}
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <div class="spacer"></div>

    <div id="footer">
        <div class="container">
        <div class="inset">

            <!-- <div id="footer-logo">volunteer planner</div> -->

            <hr />

            <div id="footer-nav">
                <ul>
                    <li><a href="{% url 'home' %}">Startseite</a></li>
                    <li><a href="">Häufig gestellte Fragen</a></li>
                    <li><a href="">Kontakt</a></li>
                    <li><a href="">Impressum & Rechtliches</a></li>
                </ul>
            </div>

        </div><!-- // .inset -->
        </div>
    </div>

<!-- SCRIPTS -->
<script src="/static/bootstrap4/js/bootstrap.min.js"></script>

</body>

</html>
