{% load humanize i18n static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Volunteer Planner</title>

    <script src="/static/jquery/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/bootstrap4/css/bootstrap.min.css">

    <!-- Font-Awesome -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- Google Font -->
    <link href="{% static "googlefonts/css/source-sans-pro.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/non-logged-in-css/custom.css" rel="stylesheet">

    {% block additional_header %}
        <meta property="og:image"
              content="/static/img/non-logged-in-area/volunteer-planner-logo.png"/>
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/static/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="/static/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-fixed-top navbar-light bg-faded">

    {# There's a issue with Nexus 4 not working with the collapsible hamburger in BS4 #}
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src={% static "img/non-logged-in-area/volunteer-planner-logo.png" %}>
    </a>

    <div class="pull-right">

		{% include "partials/switch_language.html" with nav_item_tag="span" %}

        <a href="{% url 'auth_login' %}" class="btn btn-secondary">
            {% trans "Login" %}
                </a>
        <a href="{% url 'registration_register' %}" class="btn btn-primary">
            {% trans "Start helping" %}
                </a>
    </div>
</nav>

{% block stage %}
    <div class="spacer-stage"></div>

{% endblock %}
<div class="container main-content">
    {% block content %}
    {% endblock %}
</div>

<div class="spacer"></div>

<div id="footer">
    <div class="container">
        <div class="inset">

            <!-- <div id="footer-logo">volunteer planner</div> -->

            <hr/>

            <div id="footer-nav">
                <ul>
                     <li>
                        <a href="{% url 'home' %}">{% trans "Main page" %}</a>
                    </li>
                    <li>
                        <a href="/impressum/">{% trans "Imprint"%}</a>
                    </li>
                    <li>
                        <a href="/about/">{% trans "About"%}</a>
                    </li>
                    <li>
                        <a href="/unterstuetzer/">{% trans "Supporter"%}</a>
                    </li>
                    <li>
                        <a href="/presse/">{% trans "Press"%}</a>
                    </li>
                    <li>
                        <a href="/kontakt/">{% trans "Contact" %}</a>
                    </li>
                    <li>
                        <a href="/faq/">{% trans "FAQ" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .inset -->
    </div>
</div>

<!-- SCRIPTS -->
<script src="/static/bootstrap4/js/bootstrap.min.js"></script>

</body>

</html>
