{% extends "base_non_logged_in.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Frequently Asked Questions" %}</h2>
<div class="card card-block">
  <h4 class="card-title">{% trans "How does volunteer-planner work?" %}</h4>
  <p class="card-text">
  {% url 'registation' as the_url %}
    {% blocktrans %}
      <ol>
                  <li><a href="{{ the_url }}" target="_blank">register</a>,</li>
                  <li>click the link in the confirmation email (please see also in spam folder.),</li>
                  <li>log in,</li>
                  <li>choose a shift,</li>
                  <li>get there and start helping!</li>
              </ol>
{% endblocktrans %}

</div>
<div class="card card-block">
    <h4 class="card-title">{% trans "How can I unsubscribe from a shift?" %}</h4>
    <p class="card-text">
        {% trans "No problem. Log-in again look for the shift you planned to do and unsubscribe. Then other volunteers can again subscribe." %}
    </p>
</div>
<!-- LIST OF LOCATIONS
Should use the same as in home, but DRY. Probably should be a snippet that gets loaded via include 'locations.htm'

<div class="card card-block">
    <h4 class="card-title">Welche Flüchtlingsunterkünfte nutzen derzeit diese Plattform?</h4>
    <p class="card-text">

    </p>
</div>
-->
<div class="card card-block">
    <h4 class="card-title">{% trans "Are there more shelters coming into volunteer-planner?" %}</h4>
    {% blocktrans %}
        <p class="card-text">
            Yes! If you are a volunteer worker in a refugee shelter and they also want to use volunteer-planner please contact us via email <a href="mailto:support@volunteer-planner.org">Email</a>
        </p>
    {% endblocktrans %}
</div>
<div class="card card-block">
    <h4 class="card-title">{% trans "I registered but I didn't get any activation link. What can I do?" %}</h4>
    <p class="card-text">

        {% trans "Please look into your email-spam folder. If you can't find something please wait another 30 minutes. Email delivery can sometimes take longer." %}
    </p>
</div>
<div class="card card-block">
    <h4 class="card-title">{% trans "Do I have to be vaccinated to help at the camps/shelters" %}
</h4>
    <p class="card-text">
        {% trans "You are not supposed to be vaccinated. BUT: Where there are a lot of people deseases can flourish better." %}
    </p>
</div>
<div class="card card-block">
    <h4 class="card-title">{% trans "Who is volunteer-planner.org?" %}</h4>
    <p class="card-text">
{% trans  "We are Coders4Help, a group of international volunteering programmers, designers and projectmanagers." %}
    </p>
</div>
<div class="card card-block">
    <h4 class="card-title">{% trans "How can I help you?" %}</h4>
    <p class="card-text">
     {% blocktrans %}
       Currently we need help to translate, write texts and create awesome designs. Want to help? Write a message  on our <a href="https://www.facebook.com/volunteerplanner?fref=ts">facebook site</a> or send an email to <a href="mailto:support@volunteer-planner.org">support@volunteer-planner.org</a>.
    {% endblocktrans %}
    </p>
</div>
<!-- FAQ - TEMPLATE
<div class="card card-block">
    <h4 class="card-title"></h4>
    <p class="card-text">

    </p>
</div>
-->
{% endblock %}
