{% extends "base_non_logged_in.html" %}

{% load volunteer_numbers cache i18n humanize %}

{% block stage %}
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div id="stage">
            <div class="container">
                <h1>Freiwillige helfen Geflüchteten</h1>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <!-- /. row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="spacer"></div>
        </div>

        <div class="col-md-4">
            <a id="help-cta">
                <h2>Ich möchte helfen!</h2>
                <hr/>
                <p>Registriere dich und schaue nach wo du helfen kannst.</p>
            </a><!-- // #about -->
        </div>
        <div class="col-md-4">
            <a id="need-cta">
                <h2>Wir benötigen Hilfe!</h2>
                <hr/>
                <p>Registriere eine Flüchtlingsunterkunft und finde Leute die
                    helfen wollen.</p>
            </a>
        </div>
        <div class="col-md-4">

            {% get_current_language as LANGUAGE_CODE %}

            {% cache 900 volunteer_stats LANGUAGE_CODE %}
                <div class="facts">
                    {% get_volunteer_stats as volunteer_stats %}

                    <span class="fact-amount">
                        {{ volunteer_stats.facility_count|intcomma }}
                    </span>
                    <br/>
                    {% trans "Places to help" %}

                    <hr/>
                    <span class="fact-amount">
                        {{ volunteer_stats.volunteer_count|intcomma }}
                    </span>
                    <br/>
                    {% trans "Registered Volunteers" %}
                    <hr/>

                    <span class="fact-amount">
                        {{ volunteer_stats.volunteer_hours|intcomma }}
                    </span>
                    <br/>
                    {% trans "Worked Hours" %}
                </div>

            {% endcache %}

        </div>
    </div>
    <div class="col-lg-12">
        <div class="spacer"></div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <h2>Worum es geht</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                consequat, tortor sed accumsan
                pretium, felis arcu lobortis elit, at accumsan nisi nulla eu
                diam. Suspendisse suscipit metus a nunc
                congue auctor. Mauris suscipit ligula ut ultrices egestas. Nunc
                mollis justo quis blandit
                condimentum.</p>

            <p>Integer at libero justo. Aliquam bibendum odio vitae eros
                tincidunt tempus. Aenean at massa
                efficitur, ullamcorper dolor vel, tristique enim. Duis pulvinar
                tristique tellus, in malesuada odio
                rhoncus sit amet. Sed facilisis sed nulla in sollicitudin.
                Quisque eu purus vitae nunc bibendum
                molestie. Sed sodales metus non lacus fermentum, sit amet
                commodo tellus sollicitudin. Donec vitae
                erat non elit porta accumsan. Fusce viverra enim sit amet lacus
                cursus varius.</p>
        </div>
{#        <div class="col-md-4">#}
{#            <div class="facts facts-less-padding">#}
{#                <h2>Hilfe wird an diesen Orten benötigt</h2>#}
{##}
{#                <div class="spacer"></div>#}
{#                <div id="accordion" role="tablist" aria-multiselectable="true">#}
{#                    <div class="panel panel-default">#}
{##}
{#                        {% regroup places by area.region as places_by_region %}#}
{#                        {% for place_in_region in places_by_region %}#}
{#                            <div class="panel-heading" role="tab"#}
{#                                 id="headingOne">#}
{#                                <h4 class="panel-title">#}
{#                                    <a data-toggle="collapse"#}
{#                                       data-parent="#accordion"#}
{#                                       href="#collapseOne"#}
{#                                       aria-expanded="true"#}
{#                                       aria-controls="collapseOne">#}
{#                                        {{ place_in_region.grouper.name }}#}
{#                                        ({{ place_in_region.list|length }})#}
{#                                    </a>#}
{#                                </h4>#}
{#                            </div>#}
{#                            {% regroup place_in_region.list by area as places_by_area %}#}
{#                            <div id="collapseOne"#}
{#                                 class="panel-collapse collapse"#}
{#                                 role="tabpanel"#}
{#                                 aria-labelledby="headingOne">#}
{#                                <ul>#}
{#                                    {% for place_in_area in places_by_area %}#}
{#                                        <li>{{ place_in_area.grouper }}#}
{#                                            ({{ place_in_area.list|length }})#}
{#                                        </li>#}
{#                                        <ul>#}
{#                                            {% for place in place_in_area.list %}#}
{#                                                <li>{{ place.name }}</li>#}
{#                                            {% endfor %}#}
{#                                        </ul>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}

        <div class="spacer"></div>
    </div>

{% endblock %}
