{% extends "base_non_logged_in.html" %}
{% load i18n %}

{% block content %}

    <h2>{% trans "Privacy Policy" %}</h2>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec1" %}
                Scope
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec1 P1" %}
            This privacy policy informs the user of the collection and use of personal data on this website (herein after "the service") by the service provider, the Benefit e.V. (Wollankstr. 2, 13187 Berlin).
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec1 P2" %}
            The legal basis for the privacy policy are the German Data Protection Act (Bundesdatenschutzgesetz, BDSG) and the German Telemedia Act (Telemediengesetz, TMG).
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec2" %}
                Access data / server log files
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec2 P1" %}
                The service provider (or the provider of his webspace) collects data on every access to the service and stores this access data in so-called server log files. Access data includes the name of the website that is being visited, which files are being accessed, the date and time of access, transfered data, notification of successful access, the type and version number of the user's web browser, the user's operating system, the referrer URL (i.e., the website the user visited previously), the user's IP address, and the name of the user's Internet provider.
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec2 P2" %}
            The service provider uses the server log files for statistical purposes and for the operation, the security, and the enhancement of the provided service only. However, the service provider reserves the right to reassess the log files at any time if specific indications for an illegal use of the service exist.
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec3" %}
                Use of personal data
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec3 P1" %}
            Personal data is information which can be used to identify a person, i.e., all data that can be traced back to a specific person. Personal data includes the name, the e-mail address, or the telephone number of a user. Even data on personal preferences, hobbies, memberships, or visited websites counts as personal data.
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec3 P2" %}
            The service provider collects, uses, and shares personal data with third parties only if he is permitted by law to do so or if the user has given his permission.
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec4" %}
                Contact
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec4 P1" %}
                When contacting the service provider (e.g. via e-mail or using a web contact form), the data provided by the user is stored for processing the inquiry and for answering potential follow-up inquiries in the future.
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec5" %}
                Cookies
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec5 P1" %}
                Cookies are small files that are being stored on the user's device (personal computer, smartphone, or the like) with information specific to that device. They can be used for various purposes: Cookies may be used to improve the user experience (e.g. by storing and, hence, "remembering" login credentials). Cookies may also be used to collect statistical data that allows the service provider to analyse the user's usage of the website, aiming to improve the service.
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec5 P2" %}
                The user can customize the use of cookies. Most web browsers offer settings to restrict or even completely prevent the storing of cookies. However, the service provider notes that such restrictions may have a negative impact on the user experience and the functionality of the website.
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec5 P3" with us_url="<a href='http://www.aboutads.info/choices/'>http://www.aboutads.info/choices/</a>" eu_url="<a href='http://www.youronlinechoices.com/uk/your-ad-choices/'>http://www.youronlinechoices.com/uk/your-ad-choices/</a>" %}
                The user can manage the use of cookies from many online advertisers by visiting either the US-american website {{ us_url }} or the European website {{ eu_url }}.
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec6" %}
                Registration
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec6 P1" %}
                The data provided by the user during registration allows for the usage of the service. The service provider may inform the user via e-mail about information relevant to the service or the registration, such as information on changes, which the service undergoes, or technical information (see also next section).
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec6 P2" %}
                The registration and user profile forms show which data is being collected and stored. They include - but are not limited to - the user's first name, last name, and e-mail address.
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec7" %}
            E-mail notifications / Newsletter
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec7 P1" %}
            When registering an account with the service, the user gives permission to receive e-mail notifications as well as newsletter e-mails.
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec7 P2" %}
            E-mail notifications inform the user of certain events that relate to the user's use of the service. With the newsletter, the service provider sends the user general information about the provider and his offered service(s).
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec7 P3" %}
            If the user wishes to revoke his permission to receive e-mails, he needs to delete his user account. 
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec8" %}
                Google Analytics
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec8 P1" %}
            This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses “cookies”, which are text files placed on the user's device, to help the website analyze how users use the site. The information generated by the cookie about the user's use of the website will be transmitted to and stored by Google on servers in the United States.
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec8 P2" %}
            In case IP-anonymisation is activated on this website, the user's IP address will be truncated within the area of Member States of the European Union or other parties to the Agreement on the European Economic Area. Only in exceptional cases the whole IP address will be first transfered to a Google server in the USA and truncated there. The IP-anonymisation is active on this website.
        {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec8 P3" %} 
            Google will use this information on behalf of the operator of this website for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing them other services relating to website activity and internet usage.
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec8 P4" with optout_plugin_url="<a href='http://tools.google.com/dlpage/gaoptout?hl=en'>http://tools.google.com/dlpage/gaoptout?hl=en</a>"%} 
            The IP-address, that the user's browser conveys within the scope of Google Analytics, will not be associated with any other data held by Google. The user may refuse the use of cookies by selecting the appropriate settings on his browser, however it is to be noted that if the user does this he may not be able to use the full functionality of this website. He can also opt-out from being tracked by Google Analytics with effect for the future by downloading and installing Google Analytics Opt-out Browser Addon for his current web browser: {{ optout_plugin_url }}.
            {% endblocktrans %}
        </p>
        <p class="card-text">
            {% trans "click this link" as click %}
            {% blocktrans trimmed context "Privacy Policy Sec8 P5" with optout_javascript="<a href='javascript:gaOptout()'>"|add:click|add:"</a>"%} 
            As an alternative to the browser Addon or within browsers on mobile devices, the user can {{ optout_javascript }} in order to opt-out from being tracked by Google Analytics within this website in the future (the opt-out applies only for the browser in which the user sets it and within this domain). An opt-out cookie will be stored on the user's device, which means that the user will have to click this link again, if he deletes his cookies.
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <h4 class="card-title">
            {% blocktrans trimmed context "Privacy Policy Sec9" %}
                Revocation, Changes, Corrections, and Updates
            {% endblocktrans %}
        </h4>

        <p class="card-text">
            {% blocktrans trimmed context "Privacy Policy Sec9 P1" %}
            The user has the right to be informed upon application and free of charge, which personal data about him has been stored. Additionally, the user can ask for the correction of uncorrect data, as well as for the suspension or even deletion of his personal data as far as there is no legal obligation to retain that data.
            {% endblocktrans %}
        </p>
    </div>

    <div class="card card-block">
        <p class="card-text">
            <a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/">
                {% blocktrans trimmed context "Privacy Policy Credit" %}
                    Based on the privacy policy sample of the lawyer Thomas Schwenke - I LAW it
                {% endblocktrans %}
            </a>
        </p>
    </div>

{% endblock %}