{% extends "base_non_logged_in.html" %}

{% load humanize i18n cache %}

{% block stage %}
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div id="stage">
            <div class="container">
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="spacer"></div>
    <div class="col-md-12">
    </div>
    <div class="col-md-6">
        <h2> {% translate "advantages" %}</h2>
        <ul class="advantages">
            <li class="check-icon"> {% translate "save time" %}</li>
            <li class="check-icon"> {% translate "improve selforganization of the volunteers" %}
            </li>
            <li class="check-icon">
                {% blocktranslate %}
                    volunteers split themselves up more effectively into shifts,
                    temporary shortcuts can be anticipated by helpers themselves more easily
                {% endblocktranslate %}
            </li>
            <li class="check-icon">
                {% blocktranslate %}
                    shift plans can be given to the security personnel
                    or coordinating persons by an auto-mailer
                    every morning
                {% endblocktranslate %}
            </li>
            <li class="check-icon">
                {% blocktranslate %}
                the more shelters and camps are organized with us, the more volunteers are joining
                    and all facilities will benefit from a common pool of motivated volunteers
                {% endblocktranslate %}
            </li>
            <li class="check-icon">
                 {% translate "for free without costs" %}
            </li>
        </ul>

    </div>
    <div class="col-md-6">
        <h2> {% translate "The right help at the right time at the right place" %}</h2>
                 {% blocktranslate %}
        <p>Many people want to help! But often it's not so easy to figure out where, when and how one can help.
        volunteer-planner tries to solve this problem! <br>
        </p>
            {% endblocktranslate %}
    </div>

    <div class="col-md-6">
        <h2> {% translate "for free, ad free" %}</h2>
        {% blocktranslate %}
        <p>  The platform was built by a group of volunteering professionals in the area of software development, project management, design,
        and marketing. The code is open sourced for non-commercial use. Private data (e-mail addresses, profile data etc.) will be not given to any third party.</p>
            {% endblocktranslate %}
    </div>
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">{% translate "contact us!" %}</h1>

                <p class="lead">
                    {% blocktranslate %}
                    ...maybe with an attached draft of the shifts you want to see on volunteer-planner. Please write to <a
                            href="mailto:onboarding@volunteer-planner.org">onboarding@volunteer-planner.org</a>
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
