{% extends "base_non_logged_in.html" %}

{% load volunteer_numbers humanize i18n cache %}
{% block stage %}
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div id="stage">
            <div class="container">
                <h1>Freiwilligenarbeit übersichtlich und einfach organisieren</h1>
            </div>
        </div>
    </header>

{% endblock %}
{% block content %}
    <div class="spacer"></div>
    <div class="col-md-6">
        <h2>Die richtige Hilfe zur Richtigen Zeit.</h2>

        <p>Sehr viele Menschen wollen helfen. Das ist super! Leider ist oft nicht klar, wie wann und wo geholfen werden
            kann. Das möchten wir ändern! Über volunteer-planner.org können die Koordinator_innen der
            Flüchtlingsunterkünfte
            übersichtlich auflisten wo wann welche Hilfe benötigt wird. Freiwillige können dann auf einem Blick sehen
            wie
            sie helfen können und sich sofort für eine Schicht eintragen.</p>
    </div>

    <div class="col-md-6">
        <h2>Kostenlos. Werbefrei.</h2>

        <p>Die Plattform wird von einer Gruppe von Freiwilligen aufgebaut, betreut und weiterentwickelt. Sie steht
            kostenlos und werbefrei zur Verfügung. Sämtliche Daten werden nicht weitergegeben oder weiterverkauft.</p>
    </div>
{% endblock %}