{% extends "base_non_logged_in.html" %}

{% load humanize i18n cache %}

{% block stage %}
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div id="stage">
            <div class="container">
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="spacer"></div>
    <div class="col-md-12">
    </div>
    <div class="col-md-6">
        <h2>Vorteile</h2>
        <ul class="advantages">
            <li class="check-icon">Zeitersparnis</li>
            <li class="check-icon">Helfer_innen wird schnell und einfach gezeigt
                wie sie helfen können.
            </li>
            <li class="check-icon">Helfer_innen verteilen sich besser über die
                Schichten, temporärem Über- und
                Unterangebot an Helfer_innen wird entgegengewirkt.
            </li>
            <li class="check-icon">Schichtpläne können an Security-Personal
                weitergegeben werden, falls in der
                Unterkunft der Einlass reguliert ist.
            </li>
            <li class="check-icon">
                Je mehr Unterkünfte, die Plattform nutzen, desto bekannter wird
                sie. Je bekannter sie wird, desto mehr
                Freiwillige werden darauf aufmerksam und bieten ihre
                Unterstützung an.
            </li>
            <li class="check-icon">
                kostenlos
            </li>
        </ul>

    </div>
    <div class="col-md-6">
        <h2>Die richtige Hilfe zur Richtigen Zeit.</h2>

        <p>Sehr viele Menschen wollen helfen. Das ist super! Leider ist oft
            nicht klar, wie wann und wo geholfen werden
            kann. Das möchten wir ändern! Über volunteer-planner.org können die
            Koordinator_innen der
            Flüchtlingsunterkünfte
            übersichtlich auflisten wo wann welche Hilfe benötigt wird.
            Freiwillige können dann auf einem Blick sehen
            wie
            sie helfen können und sich sofort für eine Schicht eintragen.</p>
    </div>

    <div class="col-md-6">
        <h2>Kostenlos. Werbefrei.</h2>

        <p>Die Plattform wird von einer Gruppe von Freiwilligen aufgebaut,
            betreut und weiterentwickelt. Sie steht
            kostenlos und werbefrei zur Verfügung. Sämtliche Daten werden nicht
            weitergegeben oder weiterverkauft.</p>
    </div>
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Schreib uns</h1>

                <p class="lead">...am besten schon mit einem Entwurf eines
                    Schichtenplans an <a
                            href="mailto:neue_unterkunefte@volunteer-planner.org">onboarding@volunteer-planner.org</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
