{% extends "helpdesk_base.html" %}

{% load i18n vpfilters %}

{% block helpdesk_content %}
    <div>
        <h1>
            {{ area.name }}
        </h1>

        {% for place in area.places.all %}
            <h4>
                <a href="{{ place.get_absolute_url }}">
                    {{ place.name }}
                </a>
            </h4>
            {% for facility in place.locations.all %}
                {% include "facility_row.html" with facility=facility %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}


