{% extends "helpdesk_base.html" %}

{% load i18n vpfilters %}

{% block helpdesk_content %}

    <div class="row">
        <h1>{{ country.name }}</h1>
    </div>

    {% for region in country.regions.all %}
        <div class="row">
            <h2><a href="{{ region.get_absolute_url }}">{{ region.name }}</a>
            </h2>

            {% for area in region.areas.all %}
                <h3><a href="{{ area.get_absolute_url }}">{{ area.name }}</a>
                </h3>
                <ul>
                    {% for place in area.places.all %}
                        <li>
                            <a href="{{ place.get_absolute_url }}">
                                {{ place.name }}
                            </a>
                            <ul>
                                {% for facility in place.locations.all %}
                                    <li>
                                        {{ facility.name }}
                                    </li>
                                {% endfor %}
                        </li>
                        </ul>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <hr/>
    {% endfor %}

{% endblock %}


