{% extends "helpdesk_base.html" %}

{% load i18n vpfilters %}

{% block helpdesk_content %}

    <div>
        <h1>{{ country.name }}</h1>


        {% for region in country.regions.all %}
            <h2>
                <a href="{{ region.get_absolute_url }}">
                    {{ region.name }}
                </a>
            </h2>

            {% for area in region.areas.all %}
                <h3>
                    <a href="{{ area.get_absolute_url }}">
                        {{ area.name }}
                    </a>
                </h3>

                {% for place in area.places.all %}
                    <h4>
                        <a href="{{ place.get_absolute_url }}">
                            {{ place.name }}
                        </a>
                    </h4>
                    {% for facility in place.locations.all %}
                        {% include "facility_row.html" with facility=facility %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}


