{% extends "helpdesk_base.html" %}

{% load i18n vpfilters %}

{% block helpdesk_content %}

    <div class="row">
        <h1>{{ region.name }}</h1>
    </div>

    {% for area in region.areas.all %}
        <div class="row">
            {% if area.name != region.name %}
                <h2>{{ area.name }}</h2>
            {% endif %}

            {% for place in area.places.all %}
                <h3>{{ place.name }}</h3>
                <ul>
                    {% for facility in place.locations.all %}
                        <li>
                            {{ facility.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <hr/>
    {% endfor %}

{% endblock %}


