{% extends "helpdesk_base.html" %}

{% load i18n vpfilters %}

{% block helpdesk_content %}

    <div>
        <h1>
            {{ region.name }}
        </h1>

        {% for area in region.areas.all %}
            <h3>
                <a href="{{ area.get_absolute_url }}">
                    {{ area.name }}
                </a>
            </h3>

            {% for place in area.places.all %}
                <h4>
                    <a href="{{ place.get_absolute_url }}">
                        {{ place.name }}
                    </a>
                </h4>
                {% for facility in place.locations.all %}
                    {% include "facility_row.html" with facility=facility %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}


